In [1]:
# First approach to Smart Charging Phase 1 using PuLP.
# Modeled as a PuLP optimisation blending problem
# Started 20 Aug 2020
# Author: Sofia Taylor, Flexible Power Systems
# test new laptop

import numpy as np
import pandas as pd
import datetime as dt
from pulp import *
import pickle
import global_variables as gv
import functions as f
import output_functions as of
import matplotlib as mpl
import matplotlib.pyplot as plt
import time
import random
import matplotlib.dates as mdates
import matplotlib.font_manager as font_manager
import lin_prog_functions as lpf

In [2]:
run = 68
charger = 22
capacity = 80
ca='BAU'
site_capacity = {
    'opt': capacity,  
    'BAU': 10000,
    'BAU2': capacity
}
#grid_file_path = 'Outputs/Logs/grid_variables{}.csv'.format(run)
journeys = pickle.load(open('Outputs/journeys_range','rb'))
eprice = pickle.load(open('Outputs/price_data','rb'))
empty_profile = pickle.load(open('Outputs/empty_profile','rb'))

In [3]:
profile_out, dates, bad_days, lpprob = lpf.optimise_range(
            empty_profile, 
            charger, 
            site_capacity)

opt status: Optimal
Cost: 9683.382723055902
BAU status: Optimal
Cost: 38138.10960782
BAU2 status: Optimal
Cost: 40354.171677578
2019-01-31 Status: 3 : 1 1 1

In [4]:
range_profile, site_profile, days_summary, global_summary = of.summary_outputs(
        profile_out, 
            journeys, 
            dates)
vehicles = range_profile.index.get_level_values(1).unique()

In [6]:
site_profile.head()

,Electricity_Price,Available,Battery_Use,Output_Opt,Output_BAU,Output_BAU2,ChDelivered_Opt,ECost_Opt,SoC_Opt,ChDelivered_BAU,ECost_BAU,SoC_BAU,ChDelivered_BAU2,ECost_BAU2,SoC_BAU2,N_Opt,N_BAU,N_BAU2,date
from,,,,,,,,,,,,,,,,,,,
2019-01-31 11:00:00,12.52,0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,100.000000,0.000000,0.000000,100.000000,0.000000,0.000000,100.000000,0,0,0,2019-01-31
2019-01-31 11:30:00,11.60,0,-39.007873,0.0,0.000000,0.000000,0.0,0.000000,97.399475,0.000000,0.000000,97.399475,0.000000,0.000000,97.399475,0,0,0,2019-01-31
2019-01-31 12:00:00,12.02,2,-39.918087,22.0,22.000000,22.000000,19.8,264.440000,96.058269,19.800000,264.440000,96.058269,19.800000,264.440000,96.058269,2,2,2,2019-01-31
2019-01-31 12:30:00,11.48,4,-23.944087,40.0,43.342082,40.000000,36.0,459.200006,96.861997,39.007874,497.567101,97.062522,36.000000,459.200006,96.861997,4,4,4,2019-01-31
2019-01-31 13:00:00,12.80,3,-75.368547,0.0,21.931881,25.273962,0.0,0.000000,91.837427,19.738693,280.728077,93.353865,22.746566,323.506720,93.353865,0,2,3,2019-01-31